// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
}

div{
    font-family: 'Roboto', sans-serif;
}
.answer{
    background-color: #fff3cd;
}